
{% load static %}




<link rel="stylesheet" href="{% static 'freelance/css/style.css' %}">

   <div class="ai-card">
    <p class="title">AI Training Programs 2024</p>
    <p class="form">
      Outlier is the new deal — a company that will revolutionize the industry. [Your Name] is a dedicated professional with a passion for excellence and innovation. With expertise in [your field/industry], they bring a wealth of knowledge and experience.
    </p>
    <div class="meta">
      <p class="author">By Daniel Ngemi</p>
      <p class="date">November 25, 2024</p>
    </div>

