{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'payment/css/style.css' %}" />

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
{% if invoices %}
        {% for invoice in invoices %}
        <div class="data">
              <div class="desc">
                <h1>Description</h1>                
                <p>{{ invoice.description }}</p>
            </div>              
              <div class="amt">
                <h1>Amount</h1>
                <p>${{ invoice.amount_to_pay }}</p>
              </div>              
              <div class="wallet">
                <h1>Wallet Email or Account</h1>
                <p>{{ invoice.wallet_email_or_account }}</p>
              </div>              
              <div class="created">
                <h1>Created At</h1>
                <p>40:00pm</p>
              </div> 
              {% endfor %}
              <p>You have no invoices.</p>
              {% endif %}            
        </div>
</body>
</html>