@media (max-width: 768px) {
  :root {
    --max-width: 90%; /* Adjust the width for smaller screens */
  }

  nav {
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
  }

  .nav__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  .nav__links a {
    font-size: 0.9rem;
  }

  a.contact__btn {
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
  }

  header {
    min-height: 100vh; /* Reduce header height for mobile */
  }

  .header__container {
    padding: 0.5rem;
  }

  .header__content {
    padding: 1rem;
  }

  .header__content h1 {
    font-size: 2rem; /* Reduce font size for headlines */
    line-height: 3rem;
  }

  .header__content .start__project {
    font-size: 0.9rem;
  }

  .header__content .start__project::before {
    width: 70%; /* Adjust gradient width */
  }
}
